
/* Yaru Theme Mods */
#dashtodockContainer .show-apps .overview-icon {

	background-color: transparent !important;
	background-size: contain;

}

#dashtodockContainer.extended .show-apps {

	background-color: #E95420 !important;
	background-gradient-direction: vertical;
	background-gradient-start: transparent;
	background-gradient-end: #F7713B;
	box-shadow: inset 0 0px 1px 1px rgba(255,255,255,0.1);

}

